#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include <behaviors/rgbled_widget.dtsi>  // needed to use the rgblight behaviours


// Layer definitions
    #define BASE 0
    #define MEDIA 1
    #define SYMBOL 2
	#define SETTINGS 3
//    #define ONEHAND 4

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <210>;
    quick_tap_ms = <0>;
	retro-tap;
};

bindings
    = <&to 1>
    , <&bl BL_ON>
    , <&kp Z &kp M &kp K &kp EXCLAMATION>
    ;



/ {
    keymap {
        compatible = "zmk,keymap";


        default_layer {
// -----------------------------------------------------------
//        |  -bt   |  teams mute |  Space |
//        |  -symb |    5        |    6   |  
//  Mute  |  -set  |    8        |    9   | 
            bindings = <
              &mo SETTINGS  &kp LS(LC(M))  &kp SPACE  
              &mo SYMBOL    &kp LEFT    &kp RIGHT
&out C_MUTE   &mo MEDIA     &kp TAB     &kp RET
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        media_layer {
// -----------------------------------------------------------
//        |  prev   |    play  |  next  |
//        |    4    |    5     |    6   |  
//  Mute  |    7  n |    8     | "git " | 
            bindings = <
            &kp C_PREV  &kp C_PLAY  &kp C_NEXT 
            &kp N4      &kp N5      &kp N6
&kp K_MUTE  &none       &kp N8      <&kp G &kp I &kp T &kp SPACE>
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        symbol_layer {
// -----------------------------------------------------------
//        |    1   |    2   |    3   |
//        |    4   |    5   |    6   |  
//    0   |    7   |    8   |    9   | 
            bindings = <
            &kp N1   &kp N2         &kp N3 
            &none    &kp C_BRI_UP   &kp C_BRI_DN
&kp C_MUTE &kp N7    &ind_bat       &ind_con
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        setting_layer {
// -----------------------------------------------------------
//        |    1   |    2   |    3   |
//        |    4   |    5   |    6   |  
//    0   |    7   |    8   |    9   | 
            bindings = <
            &none    &bt BT_NXT	  &bt BT_PRV 
            &kp N4   &bt BT_CLR   &kp N6
&kp OUT_TOG &kp N7   &kp N8       &bootloader
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };


    };
};
