#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------------------------------------------------------
//        |   1   |   2   |    3   |
//        |   4   |   5   |    6   |  
//    0   |   7   |   8   |    9   | 
            bindings = <
            &kp B    &kp G    &kp H 
            &kp C    &kp F    &kp I
    &kp A   &kp D    &kp E    &kp J 
            >;

            sensor-bindings = <&inc_dec_kp U D>;
        };
    };
};
