
#include "narfpad.dtsi"

&default_transform {
	col-offset = <5>;
};



/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        left_encoder: encoder_left {
            compatible = "alps,ec11";
            a-gpios = <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            b-gpios = <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            steps = <80>;
            status = "disabled";
        };


        col-gpios
            = <&xiao_d 29 GPIO_ACTIVE_HIGH>
            , <&xiao_d 28 GPIO_ACTIVE_HIGH>
            , <&xiao_d 27 GPIO_ACTIVE_HIGH>
            , <&xiao_d 26 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};

&left_encoder {
    status = "okay";
};



#include <dt-bindings/zmk/matrix_transform.h>

/ {
    /* define kscan node with label `kscan0`... */

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <3>;
// | MX1  | MX2  | MX3   |
// | MX4  | MX5  | MX6   | 
// | MX7  | MX8  | MX9   |  MX10
        map = <
RC(0,0) RC(0,1) RC(0,2) 
RC(1,0) RC(1,1) RC(1,2)
RC(2,0) RC(2,1) RC(2,2) RC(2,3)
        >;
    };

    /* potentially other overlay nodes... */
};


/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;
    };
};

